/* body {
    font-family: Arial, sans-serif;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

input, select, button {
    margin: 5px;
    padding: 8px;
} */
/* CSSを直接追加 */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}
h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 24px;
}
form {
    max-width: 400px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
input, select, button {
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="date"]::before {
    content: attr(placeholder); /* プレースホルダーを表示 */
    color: #888;
}
input:focus, select:focus {
    border-color: #007BFF;
    outline: none;
}
button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
    padding: 12px;
}
button:hover {
    background-color: #0056b3;
}