body {
    font-family: Arial, sans-serif;
    font-size: 18px; /* フォントを大きくする */
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}
h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 26px; /* 見出しのフォントサイズを調整 */
}
h1 a {
    text-decoration: none;
    color: #007BFF;
}
h1 a:hover {
    text-decoration: underline;
}
form {
    max-width: 400px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
input, select, button {
    width: 100%;
    font-size: 16px;
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    background-color: #007BFF;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 14px;
}
button:hover {
    background-color: #0056b3;
}